.div-detalle{
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
}
.section-detalle{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    
}

.corazon{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    
}


.section-detalle img{
    margin-right: 20px;
}
