.cartelera-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
}

.div-filtro{
    display: flex;
    justify-content: center;
}